<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.gemapps.tweetysearch">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk tools:overrideLibrary="android.support.customtabs"/>

    <application
        android:name=".TweetyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.mainsearch.MainSearchActivity"
            android:windowSoftInputMode="stateHidden"
            android:exported="true">
        </activity>

        <activity-alias
            android:name=".Launcher"
            android:label="@string/app_name"
            android:targetActivity=".ui.mainsearch.MainSearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity android:name=".ui.resultsearch.ResultSearchActivity"
            android:launchMode="singleInstance"
            android:parentActivityName=".ui.mainsearch.MainSearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.mainsearch.MainSearchActivity"/>

        </activity>
    </application>

</manifest>